@import "src/styles/variables";
@import "src/styles/grid";

#icon {
    &-info {
        display: inline-block;
        height: 10px;
        vertical-align: middle;
        width: 10px;
        margin-left:6px;
        margin-right:6px;
    }
}